__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
*.db
*.sqlite3
instance/
migrations/versions/__pycache__/
*.log
.DS_Store
Thumbs.db
instance/
.webassets-cache
static/profile_pics/*
!static/profile_pics/default.jpg
.vscode/
.idea/