{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="content">
    <div class="center-content">
        <h3 style="text-align: center;">Set New Password</h3>
        <form method="POST" action="{{ url_for('reset_password_new', user_id=user_id) }}">   
            <label for="password">New Password:</label>
            <input type="password" 
                   id="password" 
                   name="password" 
                   placeholder="Enter your new password" 
                   required>
            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" 
                   id="confirm_password" 
                   name="confirm_password" 
                   placeholder="Confirm your new password" 
                   required>
            <input type="submit" value="Reset Password">
        </form>
        <div class="form-footer">
            <p>Remember your password? <a href="{{ url_for('login') }}" class="form-link-button">Sign In</a></p>
        </div>
    </div>
</div>
{% endblock %}